<%- include('partials/header') %>

  <h2>Current Tasks</h2>
  <div class="container">


    <% if (locals.data) { %>
    <div class="container">
      <table class="table">

        <tbody>
            <% for (let i in data) { %>
            <tr>
                <td><%= data[i].task_id %></td>
                <td><%= data[i].customer_name %></td>
                <td><%= data[i].customer_address %></td>
                <td><%= data[i].title %></td>
                <td>
                    <form class="item" method="get" action="/2/build/<%= data[i].build_id %>">
                        <button class="update btn btn-primary" type="submit" name="action" value="view">View</button>
                    </form>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
    </div>
    <% } else { %>
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">Tracker</h1>
      <p class="lead">Building by Bryan Customer Relationship Management</p>
      <hr>

      <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
      <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
  
    <% } %>

  </div>


<%- include('partials/footer') %>
