<%- include('../partials/header') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Form</title>

    <style>
      

        .hiddenRow {
            padding: 0 !important;
        }

        /* Add additional indentation for nested tables */
        .nested-table {
            margin-left: 20px; /* Adjust the indentation level as needed */
        }

        /* Second level of indentation */
        .double-nested-table {
            margin-left: 40px; /* Adjust the indentation level as needed */
        }        
    </style>
    
    <!-- use for API calls when we want to set status to compelte -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>   

</head>
<body>

<div class="container">


    <div class="container">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Customers
                </div>

                <!-- -------------------------------------------------------------------------- -->
                <!-- ---  customers                                                             -->
                <!-- -------------------------------------------------------------------------- -->
                <div class="panel-body">
                    <table class="table table-condensed ">
                        <thead>
                            <tr class="table-primary">
                                <th scope="col">ID</th>
                                <th scope="col">Full Name</th>
                                <th scope="col">Home Address</th>
                                <th scope="col">Primary Phone</th>
                                <th scope="col">Primary Email</th>
                                <th scope="col">Other Contact Information</th>
                                <th scope="col">Current Status</th>
                                <th scope="col">Follow-up Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (locals.tableData && Array.isArray(locals.tableData)) { %>
                                <% locals.tableData.forEach(function(data) { %>
                                    <% if (data.customer) { %>
                                        <tr class="accordion-toggle table-primary" data-toggle="collapse" data-target="#collapseCust<%= data.customer.id %>" >
                                            <td><%= data.customer.id %></td>
                                            <td><%= data.customer.full_name %></td>
                                            <td><%= data.customer.home_address %></td>
                                            <td><%= data.customer.primary_phone %></td>
                                            <td><%= data.customer.primary_email %></td>
                                            <td><%= data.customer.contact_other %></td>
                                            <td><%= data.customer.current_status %></td>
                                            <td><%= data.customer.follow_up %></td>
                                        </tr>
                                        <tr>
                                            <td colspan="12" class="hiddenRow">

                                                <!-- -------------------------------------------------------------------------- -->
                                                <!-- ---  builds                                                                -->
                                                <!-- -------------------------------------------------------------------------- -->
                                                <div class="accordian-body collapse show " id="collapseCust<%= data.customer.id %>">
                                                    <table class="table nested-table">
                                                        <thead>
                                                            <tr class="table-secondary">
                                                                <th>ID</th>
                                                                <th>Customer ID</th>
                                                                <th>Product ID</th>
                                                                <th>Product Description</th>
                                                                <th>Enquiry Date</th>
                                                                <th>Job ID</th>
                                                                <th>Current Status</th>
                                                            </tr>
                                                        </thead>                                                        
                                                        <tbody>
                                                            <% data.builds.forEach(function(build) { %>
                                                                <% if (build) { %>
                                                                    <tr class="accordion-toggle table-secondary" data-toggle="collapse" data-target="#collapseBuild<%= build.id %>">
                                                                        <td><%= build.id %></td>
                                                                        <td><%= build.customer_id %></td>
                                                                        <td><%= build.product_id %></td>
                                                                        <td><%= build.product_description %></td>
                                                                        <td><%= build.enquiry_date %></td>
                                                                        <td><%= build.job_id %></td>
                                                                        <td>  
                                                                            <div class="form-check">
                                                                                <input class="form-check-input build-checkbox" type="checkbox" id="buildComplete<%= build.id %>" data-build-id="<%= build.id %>" <% if (build.current_status === 'complete') { %> checked <% } %>> 
                                                                                <label class="form-check-label" for="buildComplete<%= build.id %>"></label>
                                                                                <%= build.current_status %>       
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="12" class="hiddenRow">

                                                                            <!-- -------------------------------------------------------------------------- -->
                                                                            <!-- ---  jobs                                                                  -->
                                                                            <!-- -------------------------------------------------------------------------- -->
                                                                            <div class="accordian-body collapse show " id="collapseBuild<%= build.id %>">
                                                                                <table class="table nested-table">
                                                                                    <thead>
                                                                                        <tr class="table-info">
                                                                                            <th>ID</th>
                                                                                            <th>Display Text</th>
                                                                                            <th>Free Text</th>
                                                                                            <th>Job Template ID</th>
                                                                                            <th>User ID</th>
                                                                                            <th>Role ID</th>
                                                                                            <th>Build ID</th>
                                                                                            <th>Product ID</th>
                                                                                            <th>Reminder ID</th>
                                                                                            <th>Conversation ID</th>
                                                                                            <th>Target Date</th>
                                                                                            <th>Created By</th>
                                                                                            <th>Created Date</th>
                                                                                            <th>Change Array</th>
                                                                                            <th>Completed By</th>
                                                                                            <th>Completed Date</th>
                                                                                            <th>Current Status</th>
                                                                                        </tr>
                                                                                    </thead>                                                        
                                                                                    <tbody>
                                                                                        <% build.jobs.forEach(function(job) { %>
                                                                                            <% if (job) { %>
                                                                                                <tr class="accordion-toggle table-info" data-toggle="collapse" data-target="#collapseJob<%= job.id %>">
                                                                                                    <td><%= job.id %></td>
                                                                                                    <td><%= job.display_text %></td>
                                                                                                    <td><%= job.free_text %></td>
                                                                                                    <td><%= job.job_template_id %></td>
                                                                                                    <td><%= job.user_id %></td>
                                                                                                    <td><%= job.role_id %></td>
                                                                                                    <td><%= job.build_id %></td>
                                                                                                    <td><%= job.product_id %></td>
                                                                                                    <td><%= job.reminder_id %></td>
                                                                                                    <td><%= job.conversation_id %></td>
                                                                                                    <td><%= job.target_date %></td>
                                                                                                    <td><%= job.created_by %></td>
                                                                                                    <td><%= job.created_date %></td>
                                                                                                    <td><%= job.change_array %></td>
                                                                                                    <td><%= job.completed_by %></td>
                                                                                                    <td><%= job.completed_date %></td>
                                                                                                    <td>
                                                                                                        <div class="form-check">
                                                                                                            <input class="form-check-input job-checkbox" type="checkbox" id="jobComplete<%= job.id %>" data-job-id="<%= job.id %>" <% if (job.current_status === 'complete') { %> checked <% } %>> 
                                                                                                            <label class="form-check-label" for="jobComplete<%= job.id %>"></label>
                                                                                                            <%= job.current_status %>      
                                                                                                        </div>
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td colspan="12" class="hiddenRow">

                                                                                                        <!-- -------------------------------------------------------------------------- -->
                                                                                                        <!-- ---  tasks                                                                 -->
                                                                                                        <!-- -------------------------------------------------------------------------- -->
                                                                                                        <div class="accordian-body collapse" id="collapseJob<%= job.id %>">
                                                                                                            <table class="table nested-table">
                                                                                                                <thead>
                                                                                                                    <tr class="">
                                                                                                                        <th>ID</th>
                                                                                                                        <th>Display Text</th>
                                                                                                                        <th>Free Text</th>
                                                                                                                        <th>Job ID</th>
                                                                                                                        <th>Owner ID</th>
                                                                                                                        <th>Precedence</th>
                                                                                                                        <th>Current Status</th> 
                                                                                                                        <th>User Date</th>
                                                                                                                        <th>Target Date</th>
                                                                                                                        <th>Completed Date</th>
                                                                                                                        <th>Completed By</th>
                                                                                                                        <th>Completed Comment</th>
                                                                                                                        <th>Task Template ID</th>
                                                                                                                        <th>Change Log</th>
                                                                                                                        <th>Actions</th>
                                                                                                                    </tr>
                                                                                                                </thead>                                                        
                                                                                                                <tbody>
                                                                                                                    <% job.tasks.forEach(function(task) { %>
                                                                                                                        <% if (task) { %>
                                                                                                                            <tr class="accordion-toggle " data-toggle="collapse" data-target="#collapseTask<%= task.id %>">
                                                                                                                                <td><%= task.id %></td>
                                                                                                                                <td><%= task.display_text %></td>
                                                                                                                                <td><%= task.free_text %></td>
                                                                                                                                <td><%= task.job_id %></td>
                                                                                                                                <td><%= task.owned_by %></td>
                                                                                                                                <td><%= task.precedence %></td>
                                                                                                                                <td><%= task.current_status %></td>
                                                                                                                                <td><%= task.user_date ? task.user_date.toLocaleDateString() : '' %></td>
                                                                                                                                <td><%= task.target_date ? task.target_date.strftime('%Y-%m-%d') : '' %></td>
                                                                                                                                <td><%= task.completed_date ? new Date(task.completed_date).toLocaleDateString() : '' %></td>
                                                                                                                                <td><%= task.completed_by %></td>
                                                                                                                                <td><%= task.completed_comment %></td>
                                                                                                                                <td><%= task.task_template_id %></td>
                                                                                                                                <td><%= task.change_log %></td>
                                                                                                                                <td>
                                                                                                                                    <div class="form-check">
                                                                                                                                        <input class="form-check-input task-checkbox" type="checkbox" id="taskComplete<%= task.id %>" data-task-id="<%= task.id %>" <% if (task.current_status === 'complete') { %> checked <% } %>> 
                                                                                                                                        <label class="form-check-label" for="taskComplete<%= task.id %>">Done</label>
                                                                                                                                        
                                                                                                                                    </div>
                                                                                                                                
                                                                                                                                </td>       
                                                                                                                            </tr>
                                                                                                                            <tr>
                                                                                                                                <td colspan="12" class="hiddenRow">

                                                                                                                                    <!-- -------------------------------------------------------------------------- -->
                                                                                                                                    <!-- ---  reminders                                                             -->
                                                                                                                                    <!-- -------------------------------------------------------------------------- -->
                                                                                                                                    <div class="accordian-body collapse" id="xxcollapseTask<%= task.id %>">
                                                                                                                                        
                                                                                                                                        <table class="table nested-table">
                                                                                                                                            <thead>
                                                                                                                                                <tr class="table-warning">
                                                                                                                                                    <th>ID</th>
                                                                                                                                                    <th>Task ID</th>
                                                                                                                                                    <th>Current Status</th>
                                                                                                                                                    <th>Created By</th>
                                                                                                                                                    <th>Trigger</th>
                                                                                                                                                    <th>Medium</th>
                                                                                                                                                    <th>Change Log</th>
                                                                                                                                                    <th>Escalation 1 Interval</th>
                                                                                                                                                    <th>Escalation 2 Interval</th>
                                                                                                                                                    <th>Escalation 3 Interval</th>
                                                                                                                                                    <th>Definition Object</th>
                                                                                                                                                </tr>
                                                                                                                                            </thead>                                                        
                                                                                                                                            <tbody>
                                                                                                                                                <% task.reminders.forEach(function(reminder) { %>
                                                                                                                                                    <% if (reminder) { %>
                                                                                                                                                        <tr class="xxaccordion-toggle table-warning" data-toggle="collapse" data-target="#collapseReminder<%= reminder.id %>">
                                                                                                                                                            <td><%= reminder.id %></td>
                                                                                                                                                            <td><%= reminder.task_id %></td>
                                                                                                                                                            <td><%= reminder.current_status %></td>
                                                                                                                                                            <td><%= reminder.created_by %></td>
                                                                                                                                                            <td><%= reminder.trigger %></td>
                                                                                                                                                            <td><%= reminder.medium %></td>
                                                                                                                                                            <td><%= reminder.change_log %></td>
                                                                                                                                                            <td><%= reminder.escalation1_interval %></td>
                                                                                                                                                            <td><%= reminder.escalation2_interval %></td>
                                                                                                                                                            <td><%= reminder.escalation3_interval %></td>
                                                                                                                                                            <td><%= reminder.definition_object %></td>
                                                                                                                                                        </tr>
                                                                                                                                                        <tr class="table-warning">
                                                                                                                                                            <td colspan="12" class="hiddenRow">
                            
                                                                                                                                                                <!-- -------------------------------------------------------------------------- -->
                                                                                                                                                                <!-- ---  unused accordian div                                                  -->
                                                                                                                                                                <!-- -------------------------------------------------------------------------- -->
                                                                                                                                                                <div class="accordian-body collapse" id="collapseReminder<%= reminder.id %>">
                                                                                                                                                                    
                                                                                                                                                                    unused <%= reminder.id %>
                                                                                                                                                                </div>
                                                                                                                                                            </td>
                                                                                                                                                        </tr>
                                                                                                                                                    <% } %>
                                                                                                                                                <% }); %>
                                                                                                                                            </tbody>
                                                                                                                                        </table>
                                                                                                                                    </div>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                        <% } %>
                                                                                                                    <% }); %>
                                                                                                                </tbody>
                                                                                                            </table>














                                                                                                        </div>

                                                                                                    </td>
                                                                                                </tr>
                                                                                            <% } %>
                                                                                        <% }); %>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                <% } %>
                                                            <% }); %>
                                                        </tbody>
                                                    </table>



                                                
                                                </div>
                                            </td>
                                        </tr>
                                    <% } %>
                                <% }); %>
                            <% } %>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>

</div>

    <!-- JavaScript to handle the API request -->
    <script>
        $(document).ready(function() {
            console.log("a1   ");
            // Add click event listener to the checkbox with class 'task-checkbox'
            $('.task-checkbox').click(function() {
                // Get the task ID from the data attribute
                var taskId = $(this).data('task-id');
                console.log("a2   ", taskId);
                // Determine if checkbox is checked
                var isChecked = $(this).prop('checked');
                console.log("a3   ", isChecked);
                // Send API request to update task status
                $.ajax({
                    url: '<%= locals.baseUrl %>/taskComplete', 
                    method: 'POST', 
                    data: {
                        taskId: taskId,
                        status: isChecked
                    },
                    success: function(response) {
                        // Handle success response if needed
                        console.log('a9    Task status updated successfully');
                    },
                    error: function(xhr, status, error) {
                        // Handle error response if needed
                        console.error('a8    Error updating task status:', error);
                    }
                });
            });
        });

        $(document).ready(function() {
            console.log("b1   ");
            // Add click event listener to the checkbox with class 'job-checkbox'
            $('.job-checkbox').click(function() {
                // Get the job ID from the data attribute
                var jobId = $(this).data('job-id');
                console.log("b2   ", jobId);
                // Determine if checkbox is checked
                var isChecked = $(this).prop('checked');
                console.log("b3   ", isChecked);
                // Send API request to update job status
                $.ajax({
                    url: '<%= locals.baseUrl %>/jobComplete', 
                    method: 'POST', 
                    data: {
                        jobId: jobId,
                        status: isChecked
                    },
                    success: function(response) {
                        // Handle success response if needed
                        console.log('b9    job status updated successfully');
                    },
                    error: function(xhr, status, error) {
                        // Handle error response if needed
                        console.error('b8    Error updating job status:', error);
                    }
                });
            });
        });
        
        $(document).ready(function() {
            console.log("c1   ");
            // Add click event listener to the checkbox with class 'build-checkbox'
            $('.build-checkbox').click(function() {
                // Get the build ID from the data attribute
                var buildId = $(this).data('build-id');
                console.log("c2   ", buildId);
                // Determine if checkbox is checked
                var isChecked = $(this).prop('checked');
                console.log("c3   ", isChecked);
                // Send API request to update build status
                $.ajax({
                    url: '<%= locals.baseUrl %>/buildComplete', 
                    method: 'POST', 
                    data: {
                        buildId: buildId,
                        status: isChecked
                    },
                    success: function(response) {
                        // Handle success response if needed
                        console.log('c9    build status updated successfully');
                    },
                    error: function(xhr, status, error) {
                        // Handle error response if needed
                        console.error('c8    Error updating build status:', error);
                    }
                });
            });
        });
    </script>

</body>
</html>



<%- include('../partials/footer') %>
