<%- include('../partials/header') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Form</title>

    <style>
        body {
            padding-top: 50px;
        }

        .hiddenRow {
            padding: 0 !important;
        }

        /* Add additional indentation for nested tables */
        .nested-table {
            margin-left: 20px; /* Adjust the indentation level as needed */
        }

        /* Second level of indentation */
        .double-nested-table {
            margin-left: 40px; /* Adjust the indentation level as needed */
        }        
    </style>

</head>
<body>

<div class="container">
    <!-- Search Bar -->
    <form class="form-inline" action="/2/customers" method="get">
        <div class="row">
            <div class="col">
                <input class="form-control mr-sm-2" type="text" name="query" placeholder="Search" aria-label="Search">
            </div>
            <div class="col">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </div>
        </div>
    </form>


    <div class="container">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Customers
                </div>
                <div class="panel-body">
                    <table class="table table-condensed ">
                        <thead>
                        <tr class="table-primary">
                            <th scope="col">ID</th>
                            <th scope="col">Full Name</th>
                            <th scope="col">Home Address</th>
                            <th scope="col">Primary Phone</th>
                            <th scope="col">Primary Email</th>
                            <th scope="col">Other Contact Information</th>
                            <th scope="col">Current Status</th>
                            <th scope="col">Follow-up Date</th>
                        </tr>
                        </thead>

                        <tbody>
                            <% if (locals.tableData && Array.isArray(locals.tableData)) { %>
                                <% locals.tableData.forEach(function(data) { %>
                                    <% if (data.customer) { %>
                                        <tr class="accordion-toggle table-primary" data-toggle="collapse" data-target="#collapseCust<%= data.customer.id %>" >
                                            <td><%= data.customer.id %></td>
                                            <td><%= data.customer.full_name %></td>
                                            <td><%= data.customer.home_address %></td>
                                            <td><%= data.customer.primary_phone %></td>
                                            <td><%= data.customer.primary_email %></td>
                                            <td><%= data.customer.contact_other %></td>
                                            <td><%= data.customer.current_status %></td>
                                            <td><%= data.customer.follow_up %></td>
                                        </tr>
                                        <tr>
                                            <td colspan="12" class="hiddenRow">
                                                <div class="accordian-body collapse " id="collapseCust<%= data.customer.id %>">




                                                    <table class="table nested-table">
                                                        <thead>
                                                            <tr class="table-secondary">
                                                                <th>ID</th>
                                                                <th>Customer ID</th>
                                                                <th>Product ID</th>
                                                                <th>Product Description</th>
                                                                <th>Enquiry Date</th>
                                                                <th>Job ID</th>
                                                            </tr>
                                                        </thead>                                                        
                                                        <tbody>
                                                    <% data.builds.forEach(function(build) { %>
                                                        <% if (build) { %>
                                                            <tr class="accordion-toggle table-secondary" data-toggle="collapse" data-target="#collapseBuild<%= build.id %>">
                                                                <td><%= build.id %></td>
                                                                <td><%= build.customer_id %></td>
                                                                <td><%= build.product_id %></td>
                                                                <td><%= build.product_description %></td>
                                                                <td><%= build.enquiry_date %></td>
                                                                <td><%= build.job_id %></td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="12" class="hiddenRow">
                                                                    <div class="accordian-body collapse show " id="collapseBuild<%= build.id %>">






                                                                        <table class="table nested-table">
                                                                            <thead>
                                                                                <tr class="table-info">
                                                                                    <th>ID</th>
                                                                                    <th>Display Text</th>
                                                                                    <th>Free Text</th>
                                                                                    <th>Job Template ID</th>
                                                                                    <th>User ID</th>
                                                                                    <th>Role ID</th>
                                                                                    <th>Build ID</th>
                                                                                    <th>Product ID</th>
                                                                                    <th>Reminder ID</th>
                                                                                    <th>Conversation ID</th>
                                                                                    <th>Target Date</th>
                                                                                    <th>Created By</th>
                                                                                    <th>Created Date</th>
                                                                                    <th>Change Array</th>
                                                                                    <th>Completed By</th>
                                                                                    <th>Completed Date</th>
                                                                                    <th>Current Status</th>
                                                                                </tr>
                                                                            </thead>                                                        
                                                                            <tbody>
                                                                        <% build.jobs.forEach(function(job) { %>
                                                                            <% if (job) { %>
                                                                                <tr class="accordion-toggle table-info" data-toggle="collapse" data-target="#collapseJob<%= job.id %>">
                                                                                    <td><%= job.id %></td>
                                                                                    <td><%= job.display_text %></td>
                                                                                    <td><%= job.free_text %></td>
                                                                                    <td><%= job.job_template_id %></td>
                                                                                    <td><%= job.user_id %></td>
                                                                                    <td><%= job.role_id %></td>
                                                                                    <td><%= job.build_id %></td>
                                                                                    <td><%= job.product_id %></td>
                                                                                    <td><%= job.reminder_id %></td>
                                                                                    <td><%= job.conversation_id %></td>
                                                                                    <td><%= job.target_date %></td>
                                                                                    <td><%= job.created_by %></td>
                                                                                    <td><%= job.created_date %></td>
                                                                                    <td><%= job.change_array %></td>
                                                                                    <td><%= job.completed_by %></td>
                                                                                    <td><%= job.completed_date %></td>
                                                                                    <td><%= job.current_status %></td>

                                                                                </tr>
                                                                                <tr>
                                                                                    <td colspan="12" class="hiddenRow">
                                                                                        <div class="accordian-body collapse" id="collapseJob<%= job.id %>">

                                                                                     








                                                                                            <table class="table nested-table">
                                                                                                <thead>
                                                                                                    <tr class="">
                                                                                                        <th>ID</th>
                                                                                                        <th>Display Text</th>

                                                                                                    </tr>
                                                                                                </thead>                                                        
                                                                                                <tbody>
                                                                                            <% job.tasks.forEach(function(task) { %>
                                                                                                <% if (task) { %>
                                                                                                    <tr class="accordion-toggle " data-toggle="collapse" data-target="#collapseTask<%= task.id %>">
                                                                                                        <td><%= task.id %></td>
                                                                                                        <td><%= task.display_text %></td>
  
                    
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td colspan="12" class="hiddenRow">
                                                                                                            <div class="accordian-body collapse" id="collapseTask<%= task.id %>">
                    
                                                                                                                reminders in here <%= task.id %>
                                                                                                            </div>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                <% } %>
                                                                                            <% }); %>
                                                                                                </tbody>
                                                                                            </table>
                    
                    












                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                            <% } %>
                                                                        <% }); %>
                                                                            </tbody>
                                                                        </table>






                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        <% } %>
                                                    <% }); %>
                                                        </tbody>
                                                    </table>



                                               
                                                </div>
                                            </td>
                                        </tr>
                                    <% } %>
                                <% }); %>
                            <% } %>
                            


                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>

</div>

</body>
</html>

<%- include('../partials/footer') %>
